/* .cuisines {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
}

.cuisines a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: rgb(27, 27, 65);
    display: block;
}

.cuisines a:hover {
    color: rgb(209, 0, 129);
} */
