.recipeDetails {
    position: relative;
    top: 180px;
    text-align: center;
    margin: auto;
    width: 70%;
}

.recipeDetails h1{
    font-family: Kaushan Script;
    font-size: 30px;
}

.smallerTitle {
    font-size: 22px;
    font-style: italic;
}

.smallerTitle::first-letter {
    text-transform: uppercase;
}

.recipeDetails img {
    float: left;
    width: 405px;
    height: 405px;
    object-fit: cover;
    border-radius: 7px;
}
.clear {
    clear: left;
}

.ingredients li {
    list-style-type: none;
}