.recipeDetails {
    position: relative;
    top: 70px;
    padding: 20px;
    margin: auto;
    width: 70%;
}

.recipeDetails h1 {
    font-family: Kaushan Script;
    font-size: 30px;
    text-align: center;
}

.smallerTitle {
    font-size: 22px;
    font-style: italic;
    text-align: center;
}

.smallerTitle::first-letter {
    text-transform: uppercase;
}

.left {
    float: left;
    width: 30%;
}
.left img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 7px;
}

.left a {
    text-decoration: none;
} 

.ingredientsDiv {
    box-shadow: 0px 2px 5px 0px rgb(0 0 0 / 30%);
    padding: 20px;
}

.ingredientsDiv p {
    text-align: center;
}

.ingredients {
    line-height: 1.5;
}

.ingredients li {
    list-style-type: circle;
}
.right {
    width: 65%;
    float: right;
    box-shadow: 0px 2px 5px 0px rgb(0 0 0 / 30%);
    padding: 20px;
}

.description {
    padding: 10px 0 20px 0;
    line-height: 2.2;
    font-size: 20px;
    font-style: italic;
    text-align: left;
    text-indent: 50px;
}

.directionsDiv {
    /* padding: 0 0 0 20px; */
    line-height: 1.5;
}

.directions {
    font-size: 18px;
}

.recipeTitles {
    text-align: center;
    font-size: 22px;
}

.categoryLink {
    text-decoration: none;
    background-color: teal;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    /* border-radius: 8px; */
    padding: 7px 15px;
    margin-right: 15px;
}

.btn {
    float: right;
    background: #f1356d;
    color: #fff;
    border: 0;
    padding: 12px;
    margin: 8px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

.btn a {
    color: #fff;
    text-decoration: none;
}

.flag {
    height: 20px;
}