.recipe-list {
    width: 80%;
}

#recipes-title {
    text-align: center;
    padding: 20px;
    margin: 15px;
    font-style: italic;
}

.recipe-list-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
    row-gap: 30px;
    margin: 50px 30px;
}

.recipe-preview {
    display: inline-block;
    background: white;
    position: relative;
    text-align: center;
    padding: 15px 15px 15px 15px;
    border: 1px solid rgb(238, 238, 238);
}

.recipe-preview:hover {
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}

.recipe-list a {
    text-decoration: none;
}

.recipe-preview img {
    width: 415px;
    height: 415px;
    object-fit: cover;
}