.recipe-list {
    width: 80%;
}

#recipes-title {
    text-align: center;
    padding: 20px;
}

.recipe-list-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
    row-gap: 60px;
    margin: 20px;
}

.recipe-preview {
    display: inline-block;
    background: white;
    position: relative;
    text-align: center;
    padding: 15px 15px 15px 15px;
    border: 2px solid burlywood;
}

.recipe-list a {
    text-decoration: none;
}

.recipe-preview img {
    width: 410px;
    height: 410px;
    object-fit: cover;
}