.dropbtn {
    /* background-color: #4CAF50;
    color: white; */
    padding: 0 5px;
    margin: 16px;
    border: none;
    color: rgb(27, 27, 65);
    font-family: 'Philosopher';
    font-size: 21px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdownContent {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 220px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdownContent a {
    
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdownContent a:hover {background-color:turquoise;}

.dropdown:hover .dropdownContent {display: block;}

